server:
  port: 8083

spring:
  application:
    name: seller-service

  datasource:
    url: ${LOCAL_DB_URL:jdbc:postgresql}
    username: ${LOCAL_DB_USERNAME:root}
    password: ${LOCAL_DB_PASSWORD:root}
    driver-class-name: org.postgresql.Driver

    jpa:
      hibernate:
        ddl-auto: update
      show-sql: true

    rabbitmq:
      host: localhost
      port: 5672
      username: ${RABBIT_USERNAME}
      password: ${RABBIT_PASSWORD}

management:
  endpoints:
    web:
      exposure:
        include: "*"