server:
  port: 8082

dotenv:
  enabled: true
  override: true

spring:
  application:
    name: user-service
  config:
    use-legacy-processing: true

  datasource:
    url: ${LOCAL_DB_URL}user_db
    username: ${LOCAL_DB_USERNAME}
    password: ${LOCAL_DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        show_sql: true

management:
  endpoints:
    web:
      exposure:
        include: "*"