server:
  port: 8086
spring:
  application:
    name: product-service

  datasource:
    url: ${LOCAL_DB_URL}product_db
    username: ${LOCAL_DB_USERNAME}
    password: ${LOCAL_DB_PASSWORD}
    driver-class-name: org.postgresql.Driver